<div class="w-12 mx-auto my-4">
	<h2>Identif&iacute;cate</h2>
	<mat-form-field class="w-full">
		<mat-label>Email</mat-label>
		<input (keyup)="onKeyUp($event)" matInput type="email" [formControl]="email" required>
		<mat-error *ngIf="email.invalid">{{ emailErrors }}</mat-error>
	</mat-form-field>
	<mat-form-field class="w-full">
		<mat-label>Contrase&ntilde;a</mat-label>
		<input (keyup)="onKeyUp($event)" matInput type="password" [formControl]="password" required>
		<mat-error *ngIf="password.invalid">Tienes que ingresar tu contrase&ntilde;a.</mat-error>
	</mat-form-field>
	<p class="text-center">
		<a routerLink="/auth/password-recovery">Contrase&ntilde;a olvidada</a>?
	</p>
	<div class="grid grid-cols-4 gap-4 content-between">
		<a mat-raised-button color="accent" [routerLink]="['/auth', 'register']">Registrarse</a>
		<button [disabled]="email.invalid || password.invalid || working" mat-raised-button color="primary" type="button" (click)="login()">Entrar</button>
	</div>
</div>
