<div style="margin: 24px auto; width: 75%;">
	<h1>Pricing</h1>
	<p>
		At the very first stage of the project, the idea was to charge a little money a month or charge by use, but, just decided to avoid that and keep recieving donations.
	</p>
	<p>
		This project requires time and effort to exists and be maintained, if you enjoy this and want to help me to continue creating tools like this, please consider to donate, you can donate down bellow:
	</p>
	<a href="https://www.buymeacoffee.com/kenliten" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" ></a>.
</div>
<p style="text-align: center;">&copy;{{ year }} Otoniel Reyes &lt;<a href="mailto:kenliten@otonielreyes.com">kenliten@otonielreyes.com</a>&gt;</p>  