<div style="width: 50%; margin: 8px auto;">
	<h2>Solicitud de Recuperaci&oacute;n de Contrase&ntilde;a</h2>
	<mat-form-field style="width: 100%; margin-bottom: 8px">
		<mat-label>Email</mat-label>
		<input matInput type="email" [formControl]="email" required>
		<mat-error *ngIf="email.invalid">{{ emailErrors }}</mat-error>
	</mat-form-field>
	<div style="display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 8px;">
		<a mat-raised-button color="accent" [routerLink]="['/auth', 'login']">Identificarse</a>
		<button [disabled]="email.invalid || working" mat-raised-button color="primary" type="button" (click)="reset()">Recuperar</button>
	</div>
</div>
