.w-12 {
  width: 50%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-4 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.w-full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
}

.grid-cols-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gap-4 {
  grid-gap: 8px;
}

.content-between {
  justify-content: space-between;
}
