<div style="margin: 24px auto; width: 75%;">
	<h1>About Partial Score Generator</h1>
	<p>
		This is a project planned, developed and maintained by <a href="https://kenliten.website">Otoniel Reyes</a> &lt;<a href="mailto:kenliten@otonielreyes.com">kenliten@otonielreyes.com</a>&gt;, a teacher and free software developer.
	</p>
	<h2>The Idea</h2>
	<p>
		As many times before, I had to fill my registry in the last few weeks thanks to the ministry of education, because they haven't time to make the registries in time, (apologize, no time to make them at all, they don't even making them anymore) and well, to be short, I already knew the average score my students deserved, so I decide to generate the partials, because, being honest, it doesn't matter that much.
	</p>
	<p>
		A couple days from that, had created the first version, and I was joyfull, I shared it immediately and my partners thank me from their soul. Now, I'm trying to do the same, but, this time, with the rest of the world.
	</p>
</div>
<p style="text-align: center;">&copy;{{ year }} Otoniel Reyes &lt;<a href="mailto:kenliten@otonielreyes.com">kenliten@otonielreyes.com</a>&gt;</p>