<div style="margin: 24px auto; width: 75%;">
	<h1>Partial Score Generator</h1>
	<p>
		This is a simple yet usefull piece of software designed to make your life a little easier.
	</p>
	<p>
		Here you can keep control of your students, sections and subjects. <br>You can generate the partials you need to fill the registry book. or calculate the student's average score with ease.
	</p>
	<p>
		In the near future, it'll have several new tools to keep fighting to make you most productive and less repetitive.
	</p>
	<p>
		To get started just <a mat-raised-button color="accent" routerLink="/auth/registry">Sign Up</a> or <a mat-raised-button color="primary" routerLink="/auth/login">Log In</a> to your account.
	</p>
</div>
<p style="text-align: center;">&copy;{{ year }} Otoniel Reyes &lt;<a href="mailto:kenliten@otonielreyes.com">kenliten@otonielreyes.com</a>&gt;</p>     