<div style="margin: 16px auto; width: 50%;">
	<h2>Partials Generator</h2>
	<div style="display: grid; grid-gap: 4px; grid-template-columns: repeat(3, 1fr);">
		<mat-form-field>
			<mat-label>Indicators</mat-label>
			<input matInput type="number" [formControl]="indicators" required>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Margin</mat-label>
			<input matInput type="number" [formControl]="margin" required>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Average</mat-label>
			<input matInput type="number" [formControl]="average" required>
		</mat-form-field>
	</div>
	<div style="margin-bottom: 16px;">
		<button mat-raised-button color="primary" (click)="generateScores()">Generate</button>
	</div>
	<div>
		<table style="width: 100%;" mat-table [dataSource]="scores" class="mat-elevation-z8">

			<ng-container matColumnDef="#">
				<th mat-header-cell *matHeaderCellDef> No. </th>
				<td mat-cell *matCellDef="let element"> {{element.id}} </td>
			</ng-container>

			<ng-container matColumnDef="indicator">
				<th mat-header-cell *matHeaderCellDef> Indicator </th>
				<td mat-cell *matCellDef="let element"> {{element.indicator}} </td>
			</ng-container>

			<ng-container matColumnDef="value">
				<th mat-header-cell *matHeaderCellDef> Value </th>
				<td mat-cell *matCellDef="let element"> {{element.value}} </td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</div>
</div>