<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngIf="(user$ | async); else noUser">
      	<a mat-list-item routerLink="/sections">Sections</a>
      	<a mat-list-item routerLink="/subjects">Subjects</a>
      	<a mat-list-item routerLink="/students">Students</a>
      	<a mat-list-item routerLink="/tools">Tools</a>
      	<a mat-list-item routerLink="/users/profile">Profile</a>
      	<button mat-list-item (click)="logout()">Log Out</button>
      </ng-container>
      <ng-template #noUser>
        <a mat-list-item class="nav-link" [routerLink]="['/']">Home</a>
        <a mat-list-item class="nav-link" [routerLink]="['/about']">About</a>
        <a mat-list-item class="nav-link" [routerLink]="['/pricing']">Pricing</a>
        <a mat-list-item class="nav-link" [routerLink]="['/contact']">Contact</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <ng-container *ngIf="(user$ | async); else noUserInTop">
      	<span style="cursor: pointer;" [routerLink]="['/dashboard']">Partial Score Generator</span>
      	<span style="flex: 1 1 auto;"></span>
      	<a mat-icon-button routerLink="/users/profile"><mat-icon>account_circle</mat-icon></a>
      	<button mat-icon-button (click)="logout()" title="Logout">
      		<mat-icon>logout</mat-icon>
      	</button>
      </ng-container>
      <ng-template #noUserInTop>
        <span style="cursor: pointer;" [routerLink]="['/']">Partial Score Generator</span>
        <span style="flex: 1 1 auto;"></span>
        <a mat-button [routerLink]="['/auth', 'registry']">Sign Up</a>
        <a mat-raised-button [routerLink]="['/auth', 'login']">Login</a>
      </ng-template>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
