<div style="margin: 16px auto; width: 80%;">
	<h2>Herramientas</h2>
	<mat-card style="margin-bottom: 16px;">
		<mat-card-header>
			<mat-card-title>Generador de Indicadores</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>
				Herramienta para generar indicadores (calificaciones parciales) en base al promedio que quieras que el estudiante tenga.
			</p>
		</mat-card-content>
		<mat-card-actions style="text-align: center;">
			<button mat-raised-button color="primary" routerLink="/tools/score-generator">Pru&eacute;balo</button>
		</mat-card-actions>
	</mat-card>
	<mat-card>
		<mat-card-header>
			<mat-card-title>Calculadora de Promedios</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p>
				Calcula los promedios de tus alumnos facilmente con esta simple y &uacute;til herramienta.
			</p>
		</mat-card-content>
		<mat-card-actions style="text-align: center;">
			<button mat-raised-button color="primary" routerLink="/tools/average-calculator">Pru&eacute;bala</button>
		</mat-card-actions>
	</mat-card>
</div>
