<div style="margin: 16px auto; width: 50%;">
	<h2>Usefull Tools</h2>
	<mat-grid-list cols="2" gutterSize="16px" rowHeight="2:1">
		<mat-grid-tile>
			<mat-card>
				<mat-card-header>
					<mat-card-title>Partial Scores Generator</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<p>
						Tool for generating partial scores based on the average you want the student to end with.
					</p>
				</mat-card-content>
				<mat-card-actions style="text-align: center;">
					<button mat-raised-button color="primary" routerLink="/tools/score-generator">Try it out!</button>
				</mat-card-actions>
			</mat-card>
		</mat-grid-tile>
		<mat-grid-tile>
			<mat-card>
				<mat-card-header>
					<mat-card-title>Average Calculator</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<p>
						Calculate average students score easier with this simple tool.
					</p>
				</mat-card-content>
				<mat-card-actions style="text-align: center;">
					<button mat-raised-button color="primary" routerLink="/tools/average-calculator">Try it out!</button>
				</mat-card-actions>
			</mat-card>
		</mat-grid-tile>
	</mat-grid-list>
</div>