<div style="margin: 16px auto; width: 50%;">
	<mat-grid-list cols="2" gutterSize="16px" rowHeight="2:1">
	  <mat-grid-tile>
	  	<mat-card>
	  		<mat-card-title>Sections</mat-card-title>
	  		<mat-card-content>
	  			You have {{ (sections | async)?.length }} registered sections.
	  		</mat-card-content>
	  		<mat-card-actions>
	  			<button routerLink="/sections" mat-raised-button color="primary">List Sections</button>
	  		</mat-card-actions>
	  	</mat-card>
	  </mat-grid-tile>
	  <mat-grid-tile>
	  	<mat-card>
	  		<mat-card-title>Students</mat-card-title>
	  		<mat-card-content>
	  			You have {{ (students | async)?.length }} registered students.
	  		</mat-card-content>
	  		<mat-card-actions>
	  			<button routerLink="/students" mat-raised-button color="primary">List Students</button>
	  		</mat-card-actions>
	  	</mat-card>
	  </mat-grid-tile>
	  <mat-grid-tile colspan="2">
	  	<mat-card>
	  		<mat-card-title>Subscription Status</mat-card-title>
	  		<mat-card-content>
	  			Your using the {{ account }} subscription. Your period ends in {{ expiration.toDate() | date }}
	  		</mat-card-content>
	  		<mat-card-actions>
	  			<!-- <button routerLink="/students" mat-raised-button color="primary">List Students</button> -->
	  		</mat-card-actions>
	  	</mat-card>
	  </mat-grid-tile>
	</mat-grid-list>
</div>