<div style="margin: 16px auto; width: 50%;">
	<mat-grid-list cols="2" gutterSize="16px" rowHeight="2:1">
	  <mat-grid-tile>
	  	<mat-card>
	  		<mat-card-title>Secciones</mat-card-title>
	  		<mat-card-content>
	  			Tienes {{ (sections | async)?.length }} secciones registradas.
	  		</mat-card-content>
	  		<mat-card-actions>
	  			<button routerLink="/sections" mat-raised-button color="primary">Listar Secciones</button>
	  		</mat-card-actions>
	  	</mat-card>
	  </mat-grid-tile>
	  <mat-grid-tile>
	  	<mat-card>
	  		<mat-card-title>Estudiantes</mat-card-title>
	  		<mat-card-content>
	  			Tienes {{ (students | async)?.length }} estudiantes registrados.
	  		</mat-card-content>
	  		<mat-card-actions>
	  			<button routerLink="/students" mat-raised-button color="primary">Listar Estudiantes</button>
	  		</mat-card-actions>
	  	</mat-card>
	  </mat-grid-tile>
	  <mat-grid-tile colspan="2">
	  	<mat-card>
	  		<mat-card-title>Estado de la Suscripci&oacute;n</mat-card-title>
	  		<mat-card-content>
	  			Est&aacute;s usando una suscripci&oacute;n {{ account }}. El periodo de suscripci&oacute;n acaba en {{ expiration.toDate() | date }}
	  		</mat-card-content>
	  		<mat-card-actions>
	  			<!-- <button routerLink="/students" mat-raised-button color="primary">List Students</button> -->
	  		</mat-card-actions>
	  	</mat-card>
	  </mat-grid-tile>
	</mat-grid-list>
</div>